<h1>Anime weeb questions</h1>
<h1>lets see how much you love Anime!</h1>

<form #animeForm = "ngForm" (submit)="animeForm.value">
<p><input type="text" ngModel name="firstName" placeholder="Enter your firstname"></p>

<p><input type="text" ngModel name="LastName" placeholder="Enter your LastName"></p>
<h3>One piece:</h3>
<h4>1.Where was Gol D. Roger born?</h4>
<input type="radio" ngModel name="opqa1" value= 1>
<label for="chokocake">East Blue</label><br>
<input type="radio" ngModel name="opqa1" value=0>
<label for="chessecake">North Blue</label><br>
<input type="radio" ngModel name="opqa1" value=0>
<label for="carrotcake">New World</label><br>
<h4>2.Which of the following is not a type of Haki?</h4>
<input type="radio" ngModel name="opqa2" value= 0>
<label for="chokocake">Haoshoku - Conquerer's</label><br>
<input type="radio" ngModel name="opqa2" value=1>
<label for="chessecake">Kamishoku - Divinity</label><br>
<input type="radio" ngModel name="opqa2" value=0>
<label for="carrotcake">Kenbunshoku - Observation</label><br>
<h4>3. Which 'One Piece' character is the cook for the Straw Hat Pirates who uses his feet to attack and has a weakness for beautiful women?</h4>
<input type="radio" ngModel name="opqa3" value= 0>
<label for="chokocake">Luffy</label><br>
<input type="radio" ngModel name="opqa3" value=1>
<label for="chessecake">Sanji</label><br>
<input type="radio" ngModel name="opqa3" value=0>
<label for="carrotcake">Brook</label><br>
</form>

